$theme-colors: (
    "primary": #252e51,
    "secondary": #fcae61,
    "tertiary": #2401f9,
    "gray": #e2ebec,
    "orange": #ffab25,
    "red": #f54d5d,
    "light-blue": #2361ff,
    "green": #349154,
    "yellow": #ffcc00,
);
    
$font-family-base: "Poppins", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pb-26 {
    padding-bottom: 6.5rem;
}

.padding-x {
    padding: 0 6rem 0;
}

.padding-right {
    padding-left: 5rem;
}

.pr-40 {
    padding-right: 10rem;
}

.mt-26 {
    margin-top: 6.5rem;
}

.mt-28 {
    margin-top: 7rem;
}

.mt-6{
    margin-top: 4rem;
}

.mt-52 {
    margin-top: 10rem;
}

.mr-60 {
    margin-right: 25rem;
}

.mr-50 {
    margin-right: 13rem;
}

.mr-52 {
    margin-right: 17rem;
}

.mr-5 {
    margin-right: 5rem;
}

.margin-left-18 {
    margin-left: 4.5rem;
}

.margin-left-24 {
    margin-left: 6rem;
}

.phone-planning {
    margin-left: 24rem;
    margin-top: 6.5rem;
}

.phone-productivity {
    margin-left: 10rem;
    margin-top: 8rem;
}

.logo1-position {
    left: 0;
    margin-left: 24.5rem;
    margin-bottom: 25.5rem;
}

.logo2-position {
    left: 0;
    margin-left: 31.65rem;
    margin-bottom: 20.2rem;
}

.logo3-position {
    left: 0;
    margin-left: 38.7rem;
    margin-bottom: 4rem
}

.logo4-position {
    left: 0;
    margin-left: 18.75rem;
    margin-bottom: 14rem;
}

.logo5-position {
    left: 0;
    margin-left: 37.75rem;
    margin-bottom: 27rem;
}

.logo6-position {
    left: 0;
    margin-left: 45.60rem;
    margin-bottom: 8.25rem
}

.photo1-position {
    left: 0;
    margin-left: 17.5rem;
    margin-top: 11rem;
}

.photo2-position {
    left: 0;
    margin-left: 2.5rem;
    margin-top: 6rem;
}

.photo3-position {
    left: 0;
    margin-left: 14.5rem;
    margin-top: 23rem;
}

.photo4-position {
    left: 0;
    margin-left: 38rem;
    margin-top: 2rem;
}

.photo5-position {
    left: 0;
    margin-left: 30.5rem;
    margin-top: 16rem;
}

.photo6-position {
    left: 0;
    margin-left: 4rem;
    margin-top: 14rem;
}

.photo7-position {
    left: 0;
    margin-left: 16rem;
}

.background-gradient {
    background-image: linear-gradient(to bottom, white, #f4f6f8);
}

.background-red-opacity {
    background-color: rgba(245,77,93, 0.15)
}

.background-blue-opacity {
    background-color: rgba(35,97,255, .15)
}

.background-green-opacity {
    background-color: rgba(52,145,84,0.15)
}

.background-orange-opacity {
    background-color: rgba(252,174,97,.25)
}

@media (max-width: 991.98px) { 
}


